$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap";
//@import "~bootstrap-sass/assets/stylesheets/bootstrap/theme";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import "app";